@import "reset.css";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
}

/* First page */

.first__page {
  height: 100%;
  background-color: rgba(07, 15, 26, 0.95);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  margin: 0 auto;
  width: 1200px;
}

.home__logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.navbar__toggle-btn {
  position: absolute;
  top: 14px;
  right: 32px;
  font-size: 24px;
  color: white;
  display: none;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  font: "Inter", sans-serif;
  font-weight: 700;
  color: #aba9b9;
  cursor: pointer;
}

.nav__link__item {
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  padding-bottom: 8px;
}

.nav__link__item::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: #f85c5c;
  z-index: 99;
  transition: all 0.4s cubic-bezier(1, 0, 0.3, 1);
}

.nav__link__item:hover::before {
  left: 100%;
}

.nav__link__item::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -4px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: #546cb6;
  transition: all 0.3s;
  transition-delay: 0.4s;
}

.nav__link__item:hover::after {
  left: 0%;
}

.nav__link li:hover {
  transition: all 0.4s ease;
  color: white;
}

.nav__link li:last-child {
  margin-bottom: 8px;
}

.resume {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 85px;
  height: 36px;
  border: 1px solid #ff4500;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 8px;
  transition: all 0.25s ease-in-out;
}

.resume:hover {
  background-color: #fd510d;
  color: white;
}

.first__main {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.main__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  color: white;
  height: 200px;
  top: 30%;
  left: 0;
  margin-left: 60px;
}

.main__text-name {
  font-size: 80px;
  font-weight: 800;
}

.main__text-position {
  font-size: 20px;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

.main__text-contact {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  padding: 16px 20px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(240, 58, 56, 1) 0%,
    rgba(240, 58, 56, 1) 50%,
    rgba(240, 98, 72, 1) 100%
  );
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.25s linear;
}

.main__text-contact:hover {
  box-shadow: inset 9em 0 0 0 #f0e090;
  color: #222222;
}

.links {
  position: absolute;
  top: 49%;
  right: 50px;
}

.links a {
  text-decoration: none;
}

.links i {
  display: block;
  color: #aba9b9;
  font-size: 26px;
  transition: all 0.4s ease;
  margin-bottom: 16px;
}

.links i:hover {
  color: white;
}

/* Shape placement */
#shape1 {
  position: absolute;
  top: 1.8%;
  left: 23%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * 0.07px))
    translateY(calc(var(--mouse-y) * 0.09px));
}

#shape2 {
  position: absolute;
  top: 22%;
  left: 28.5%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * 0.07px))
    translateY(calc(var(--mouse-y) * 0.09px));
}

#shape3 {
  position: absolute;
  bottom: 26%;
  right: 13%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * 0.07px))
    translateY(calc(var(--mouse-y) * 0.09px));
}

#shape4 {
  position: absolute;
  top: 12%;
  right: 18.2%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * 0.07px))
    translateY(calc(var(--mouse-y) * 0.09px));
}

#shape5 {
  position: absolute;
  bottom: 3.7%;
  right: 13%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * -0.07px))
    translateY(calc(var(--mouse-y) * -0.09px));
}

#shape6 {
  position: absolute;
  bottom: 2.8%;
  left: 13%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * -0.07px))
    translateY(calc(var(--mouse-y) * -0.09px));
}

#shape7 {
  position: absolute;
  top: 14%;
  left: 11.5%;
  width: 30px;
  height: 30px;
  transform: translateX(calc(var(--mouse-x) * -0.07px))
    translateY(calc(var(--mouse-y) * -0.09px));
}

#shape8 {
  position: absolute;
  bottom: 3.7%;
  left: 49.5%;
  width: 30px;
  height: 30px;
  transform: translateX(calc(var(--mouse-x) * -0.07px))
    translateY(calc(var(--mouse-y) * -0.09px));
}

#shape9 {
  position: absolute;
  bottom: 24%;
  left: 6.25%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * 0.07px))
    translateY(calc(var(--mouse-y) * 0.09px));
}

#shape10 {
  position: absolute;
  top: 5.5%;
  right: 8.3%;
  width: 25px;
  height: 25px;
  transform: translateX(calc(var(--mouse-x) * -0.07px))
    translateY(calc(var(--mouse-y) * -0.09px));
}

/* About page */

#about {
  background-color: #f3f3f3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__decription {
  margin-right: 60px;
  width: 450px;
  line-height: 1.8;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  color: #222222;
}

.about__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 20px;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.05),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.about__paragraph span {
  color: #f06449;
  font-weight: 600;
}

.about__icons {
  font-size: 48px;
  margin-top: 28px;
}

.about__icons i {
  margin-right: 24px;
  transition: all 0.2s ease-in-out;
}

.about__icons i:nth-of-type(1):hover {
  color: #61dafb;
}

.about__icons i:nth-of-type(2):hover {
  color: #efd81d;
}

.about__icons i:nth-of-type(3):hover {
  color: #2965f1;
}

.about__icons i:nth-of-type(4):hover {
  color: #3470a2;
}

.about__icons i:nth-of-type(5):hover {
  color: #7dc622;
}

.about__picture {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 20%);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
}

/* Work page */

.section__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
  padding: 80px 0;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05),
    10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}

#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0 200px;
}

.work {
  margin-bottom: 60px;
  position: relative;
  background-color: black;
  width: 800px;
  height: 420px;
}

.work a {
  text-decoration: none;
}

.work i {
  color: #aba9b9;
  font-size: 26px;
  margin-right: 4px;
  transition: all 0.4s ease;
}

.work i:hover {
  color: white;
}

.work__link-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 800px;
  height: 420px;
  transition: all 0.3s ease-in-out;
}

.work__link-cover:hover {
  background-color: rgba(0, 0, 0, 0);
}

.work__link {
  display: block;
  width: 800px;
  height: 420px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
}

.work__data {
  position: absolute;
  bottom: 100px;
  left: 80px;
  color: white;
}

.work__title {
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}

.work__language {
  font-style: italic;
  margin-bottom: 14px;
}

/* testimonials */

#testimonials {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.testimonial {
  display: flex;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.testimonial__speech-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.testimonial__speech-bubble p {
  color: #222222;
  line-height: 1.5;
  font-size: 14px;
}

.testimonial__speech-bubble a {
  color: #f06449;
  text-decoration: none;
}

/* arrow */
.arrow-up {
  position: fixed;
  background-color: rgba(07, 15, 26, 0.95);
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  bottom: 72px;
  right: 48px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in;
  border: none;
}

.arrow-up.visible {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

/* footer */

footer {
  height: 500px;
  width: 100%;
  background-color: rgba(07, 15, 26, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  color: white;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact__btn {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  padding: 16px 20px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(240, 58, 56, 1) 0%,
    rgba(240, 58, 56, 1) 50%,
    rgba(240, 98, 72, 1) 100%
  );
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 40px;
  border-radius: 3px;
}

.contact__links {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  width: 400px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.contact__links a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
  overflow: hidden;
}

.contact__links a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: #f85c5c;
  z-index: 99;
  transition: all 0.4s cubic-bezier(1, 0, 0.3, 1);
}

.contact__links a:hover::before {
  left: 100%;
}

.contact__links a::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -4px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: #546cb6;
  transition: all 0.3s;
  transition-delay: 0.4s;
}
.contact__links a:hover::after {
  left: 0%;
}

.contact__links a li:hover {
  transition: all 0.4s ease;
  color: white;
}

.contact__rights {
  color: white;
}

@media (max-width: 600px) {
  .first__page {
    padding: 20px;
  }

  nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .home__logo img {
    width: 14vw;
    height: 14vw;
  }

  .navbar__toggle-btn {
    display: block;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 5vh;
    right: 4vw;
    z-index: 2;
  }

  .nav__link {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateX(100%);
    background-color: rgba(07, 15, 26, 0.95);
    opacity: 0;
    transition: 0.4s ease-in-out;
  }

  .nav__link.menu-on {
    opacity: 1;
    z-index: 1;
    transform: translateX(0px);
  }

  .nav__link__item {
    font-size: 10vw;
    margin-bottom: 25px;
  }

  .first__main {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__text {
    height: 150px;
    top: 30%;
    left: 0;
  }

  .main__text-name {
    font-size: 12vw;
    font-weight: 700;
  }

  .links {
    display: none;
  }

  /* About page */

  #about {
    flex-direction: column;
    padding: 40px 20px;
  }

  .about__decription {
    width: 100%;
    font-size: 3vw;
    margin-right: 0;
    box-sizing: border-box;
  }

  .about__title {
    font-size: 7vw;
    text-align: center;
  }

  .about__icons {
    display: flex;
    justify-content: space-around;
    font-size: 10vw;
    margin: 20px;
  }

  .about__picture {
    width: 60vw;
    height: 60vw;
  }

  /* Work page */

  .section__title {
    font-size: 7vw;
    font-weight: 700;
    padding: 40px;
  }

  #works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .works {
    width: 90%;
  }

  .work {
    margin-bottom: 60px;
    position: relative;
    background-color: black;
    width: 80vw;
    height: 30vh;
  }

  .work a {
    text-decoration: none;
  }

  .work i {
    color: #aba9b9;
    font-size: 26px;
    margin-right: 4px;
    transition: all 0.4s ease;
  }

  .work i:hover {
    color: white;
  }

  .work__link-cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80vw;
    height: 30vh;
    transition: all 0.3s ease-in-out;
  }

  .work__link {
    display: block;
    width: 80vw;
    height: 30vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
  }

  .work__data {
    position: absolute;
    bottom: 15%;
    left: 5%;
    color: white;
  }

  .work__title {
    font-size: 6vw;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .work__language {
    font-style: italic;
    font-size: 4vw;
    margin-bottom: 12px;
  }

  .work__icons {
    font-size: 4vw;
  }

  /* testimonials */

  #testimonials {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial__avatar {
    margin-right: 0;
    margin-bottom: 20px;
    width: 30vw;
    height: 30vw;
  }

  .testimonial__speech-bubble {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
  }

  .testimonial__speech-bubble p {
    font-size: 3.3vw;
  }

  /* arrow */
  .arrow-up {
    display: none;
  }

  /* footer */

  footer {
    height: 45vh;
  }

  .contact__title {
    font-size: 10vw;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .contact__btn {
    width: 25vw;
    font-size: 5vw;
    margin-bottom: 30px;
  }

  .contact__links {
    font-size: 5vw;
    width: 100%;
    justify-content: space-around;
  }
}
